---
import Layout from '@layouts/Layout.astro'
import { getContacts } from '@lib/pocketbase'

const q = Astro.url.searchParams.get('q')

const contacts = await getContacts({ q })
---

<Layout>
  <form action='/contacts' method='get' class='tool-bar'>
    <label for='search'>Search Term</label>
    <input id='search' type='search' name='q' value={q} />
    <input type='submit' value='Search' />
  </form>
  <table>
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {
        contacts?.map(contact => (
          <tr>
            <td>{contact.first}</td>
            <td>{contact.last}</td>
            <td>{contact.phone}</td>
            <td>{contact.email}</td>
            <td>
              <a href={`/contacts/${contact.id}/edit`}>Edit</a>
              <a href={`/contacts/${contact.id}`}>View</a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  <p>
    <a href='/contacts/new'>Add Contact</a>
  </p>
</Layout>
