---
import Layout from '@layouts/Layout.astro'
import { getContact, updateContact } from '@lib/pocketbase'

const { contact_id } = Astro.params
let contact = await getContact(contact_id)

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  const first = formData.get('first')?.toString() || ''
  const last = formData.get('last')?.toString() || ''
  const phone = formData.get('phone')?.toString() || ''
  const email = formData.get('email')?.toString() || ''

  contact = await updateContact(contact_id, {
    first,
    last,
    phone,
    email,
  })
}
---

<Layout>
  <form action={`/contacts/${contact_id}/edit`} method='post'>
    <fieldset>
      <legend>Contact Values</legend>
      <p>
        <label for='email'>Email</label>
        <input
          name='email'
          id='email'
          type='email'
          placeholder='Email'
          value={contact.email}
        />
        <span class='error'>{contact.errors?.email}</span>
      </p>

      <p>
        <label for='first'>First Name</label>
        <input
          name='first'
          id='first'
          type='text'
          placeholder='First Name'
          value={contact.first}
        />
        <span class='error'>{contact.errors?.first}</span>
      </p>
      <p>
        <label for='last'>Last Name</label>
        <input
          name='last'
          id='last'
          type='text'
          placeholder='Last Name'
          value={contact.last}
        />
        <span class='error'>{contact.errors?.last}</span>
      </p>
      <p>
        <label for='phone'>Phone</label>
        <input
          name='phone'
          id='phone'
          type='text'
          placeholder='Phone'
          value={contact.phone}
        />
        <span class='error'>{contact.errors?.phone}</span>
      </p>
      <button>Save</button>
    </fieldset>
  </form>

  <button
    hx-delete={`/contacts/${contact.id}/delete`}
    hx-target='body'
    hx-push-url='true'>Delete Contact</button
  >

  <p>
    <a href='/contacts'>Back</a>
  </p>
</Layout>
